body {
  background: #eff0ee;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #333; }

.wrap {
  width: 1020px;
  margin: 0 auto;
  padding: 0 20px; }

#main {
  margin-top: 2em; }
  #main #social-icons {
    position: fixed;
    left: 0;
    top: 10em;
    color: white; }
    #main #social-icons a {
      font-family: "fontello";
      font-size: 1.6em;
      color: white;
      background: #333;
      display: block;
      text-decoration: none;
      text-shadow: 1px 1px #1a1a1a;
      border-bottom: rgba(255, 255, 255, 0.5) 1px dotted; }
      #main #social-icons a:hover {
        text-shadow: 1px 1px #4d4d4d; }
    #main #social-icons ul {
      margin: 0;
      padding: 0; }
  #main #main-home {
    overflow: hidden; }
    #main #main-home .main-home-block {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
      width: 320px;
      height: 320px;
      margin: 0 10px 10px 0;
      padding: 15px;
      float: left;
      background: white; }
      #main #main-home .main-home-block .employment-history-item {
        font-size: 0.8em; }
        #main #main-home .main-home-block .employment-history-item h4 {
          margin: 0;
          font-size: 1.2em;
          font-weight: bold; }
          #main #main-home .main-home-block .employment-history-item h4 span {
            font-weight: normal;
            color: #666;
            font-size: 0.8em; }
      #main #main-home .main-home-block .detail-row {
        padding: 0 0 1em 0;
        font-size: 0.9em; }
        #main #main-home .main-home-block .detail-row.no-padding {
          padding: 0; }
        #main #main-home .main-home-block .detail-row .detail-row-label {
          text-align: right;
          font-weight: bold;
          text-transform: uppercase; }
        #main #main-home .main-home-block .detail-row .detail-row-value {
          color: #999;
          position: relative;
          top: -1px; }
      #main #main-home .main-home-block .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0; }
      #main #main-home .main-home-block h3 {
        margin: 0 0 0.5em 0;
        padding-bottom: 0.5em;
        font-size: 2em;
        line-height: 1em;
        text-transform: uppercase;
        letter-spacing: -1px;
        border-bottom: #d7d8d6 1px dotted; }
      #main #main-home .main-home-block.main-block {
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-transform: uppercase; }
        #main #main-home .main-home-block.main-block h1 {
          font-size: 3.8em;
          line-height: 1em;
          margin: 0;
          padding-bottom: 0.2em;
          letter-spacing: -2px;
          border-bottom: #d7d8d6 1px dotted;
          text-shadow: 2px 2px #d7d8d6; }
          #main #main-home .main-home-block.main-block h1 span {
            font-size: 0.7em;
            color: #d9534f; }
        #main #main-home .main-home-block.main-block h2 {
          font-size: 1.8em;
          line-height: 1em;
          margin-top: 0.5em;
          color: #aaa;
          font-weight: normal;
          letter-spacing: -1px;
          text-shadow: 1px 1px white; }
      #main #main-home .main-home-block.contact-block .contact-invalid-message {
        font-size: 0.8em;
        color: #a94442;
        text-transform: none; }
      #main #main-home .main-home-block:nth-child(3n) {
        margin-right: 0; }

footer {
  width: 100%;
  background: #d1d1d1;
  margin-top: 2em;
  padding: 0.5em 0;
  color: #777;
  font-size: 0.8em; }

/* 2 columns / tablet */
@media (max-width: 1040px) {
  .wrap {
    width: 700px; }

  #main #main-home .main-home-block:nth-child(3n) {
    margin-right: 10px; }

  .main-home-block:nth-child(2n) {
    margin-right: 0; } }
/* 1 column / mobile */
@media (max-width: 740px) {
  .wrap {
    width: 100%; }

  #main #main-home .main-home-block {
    width: 100%;
    height: auto; }
    #main #main-home .main-home-block.main-block.logo-block {
      text-align: center; }

  footer {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
