<div id="main-home">
	<div class="main-home-block main-block logo-block">
		<header>
			<h1><span class="glyphicon glyphicon-fire"></span> Jared Helgeson</h1>
			<h2>Freelance Mobile &amp; Web Programmer</h2>

			<nav>
				<ul>
					<li><a ui-sref="admin.dashboard">Admin</a></li>
				</ul>
			</nav>
		</header>
	</div>

	<div class="main-home-block">
		<h3><span class="glyphicon glyphicon-user"></span> Personal Details</h3>

		<div class="row detail-row">
			<div class="col-sm-6 col-xs-6 detail-row-label">Nationality</div>
			<div class="col-sm-6 col-xs-6 detail-row-value">American</div>
		</div>

		<div class="row detail-row">
			<div class="col-sm-6 col-xs-6 detail-row-label">Location</div>
			<div class="col-sm-6 col-xs-6 detail-row-value">Wisconsin</div>
		</div>

		<div class="row detail-row">
			<div class="col-sm-6 col-xs-6 detail-row-label">Birthday</div>
			<div class="col-sm-6 col-xs-6 detail-row-value">02/18/1991 (24)</div>
		</div>

		<div class="row detail-row">
			<div class="col-sm-6 col-xs-6 detail-row-label">Education</div>
			<div class="col-sm-6 col-xs-6 detail-row-value">In Progress</div>
		</div>

		<div class="row detail-row">
			<div class="col-sm-6 col-xs-6 detail-row-label">Experience</div>
			<div class="col-sm-6 col-xs-6 detail-row-value">8+ Years</div>
		</div>

		<div class="row detail-row">
			<div class="col-sm-6 col-xs-6 detail-row-label">Hourly Rate</div>
			<div class="col-sm-6 col-xs-6 detail-row-value">$20-$30</div>
		</div>

		<div class="row detail-row">
			<div class="col-sm-6 col-xs-6 detail-row-label">Availability</div>
			<div class="col-sm-6 col-xs-6 detail-row-value">Part Time &amp; Full Time</div>
		</div>
	</div>

	<div class="main-home-block">
		<h3><span class="glyphicon glyphicon-comment"></span> Get In Touch</h3>

		<div class="row detail-row">
			<div class="col-sm-5 col-xs-5 detail-row-label"><span class="glyphicon glyphicon-phone"></span> Phone</div>
			<div class="col-sm-7 col-xs-7 detail-row-value"><a href="tel:17155335444">+1.715.533.5444</a></div>
		</div>

		<div class="row detail-row">
			<div class="col-sm-5 col-xs-5 detail-row-label"><span class="glyphicon glyphicon-envelope"></span> Email</div>
			<div class="col-sm-7 col-xs-7 detail-row-value"><a href="mailto:jared@wphax.com">jared@wphax.com</a></div>
		</div>

		<div class="row detail-row">
			<div class="col-sm-5 col-xs-5 detail-row-label"><span class="glyphicon glyphicon-phone-alt"></span> Skype</div>
			<div class="col-sm-7 col-xs-7 detail-row-value">wphax.com</div>
		</div>

		<div class="row detail-row">
			<div class="col-sm-5 col-xs-5 detail-row-label"><span class="glyphicon glyphicon-link"></span> Website</div>
			<div class="col-sm-7 col-xs-7 detail-row-value"><a href="http://wphax.com">http://wphax.com</a></div>
		</div>

		<div class="row detail-row">
			<div class="col-sm-5 col-xs-5 detail-row-label"><span class="glyphicon glyphicon-home"></span> Address</div>
			<div class="col-sm-7 col-xs-7 detail-row-value">N39523 Witt Hill Rd.<br>Whitehall, WI 54773</div>
		</div>
	</div>

	<div class="main-home-block">
		<h3><span class="glyphicon glyphicon-briefcase"></span> Employment History</h3>

		<div class="employment-history-item">
			<h4>Freelance <span>2007-2015</span></h4>
			<p>I have been freelancing since the beginning. Most of the projects I get hired for are from Elance.com and previous clients I have worked with.</p>
		</div>

		<div class="employment-history-item">
			<h4>Vashon Media <span>2011-2013</h4>
			<p>I worked with Vashon Media/Justin Wheeler for a few years building various WordPress plugins that were mostly sold on Warrior Forum.</p>
		</div>

		<div class="employment-history-item">
			<h4>Kyle McLean <span>2013-2014</h4>
			<p>I worked on mobile apps, websites, admin panels and many other specialized projects for Kyle and his company.</p>
		</div>
	</div>

	<div class="main-home-block">
		<h3><span class="glyphicon glyphicon-stats"></span> Professional Skills</h3>


		<div class="row detail-row no-padding">
			<div class="col-sm-4 col-xs-4 detail-row-label">HTML</div>
			<div class="col-sm-8 col-xs-8 detail-row-value">
				<div class="progress">
					<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						100%
					</div>
				</div>
			</div>
		</div>


		<div class="row detail-row no-padding">
			<div class="col-sm-4 col-xs-4 detail-row-label">CSS</div>
			<div class="col-sm-8 col-xs-8 detail-row-value">
				<div class="progress">
					<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
						100%
					</div>
				</div>
			</div>
		</div>


		<div class="row detail-row no-padding">
			<div class="col-sm-4 col-xs-4 detail-row-label">Javascript</div>
			<div class="col-sm-8 col-xs-8 detail-row-value">
				<div class="progress">
					<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
						90%
					</div>
				</div>
			</div>
		</div>


		<div class="row detail-row no-padding">
			<div class="col-sm-4 col-xs-4 detail-row-label">PHP</div>
			<div class="col-sm-8 col-xs-8 detail-row-value">
				<div class="progress">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
						90%
					</div>
				</div>
			</div>
		</div>


		<div class="row detail-row no-padding">
			<div class="col-sm-4 col-xs-4 detail-row-label">Mobile Apps</div>
			<div class="col-sm-8 col-xs-8 detail-row-value">
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
						80%
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main-home-block main-block">
		<h3><span class="glyphicon glyphicon-send"></span> Contact Me</h3>

		<form class="form-horizontal">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Name">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email">
			</div>
			<div class="form-group">
				<textarea class="form-control" placeholder="Tell me about your project." rows="3"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Send</button>
			</div>
		</form>
	</div>

	<h2 style="text-align: center;">Portfolio</h2>
	<h4 style="text-align: center;">Coming Soon!</h4>

</div>
