
.icon-twitter-1:before { content: '\e806'; } /* '' */
.icon-stackoverflow-1:before { content: '\e807'; } /* '' */
.icon-skype-1:before { content: '\e808'; } /* '' */
.icon-linkedin-squared:before { content: '\e809'; } /* '' */
.icon-github-squared:before { content: '\e80a'; } /* '' */
.icon-facebook-squared:before { content: '\e80b'; } /* '' */